body{
	background-color: #F4CD9E;
}

.topbar{
	background-color: #CEF3F8;
	margin-top: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 40px;
}

.top1{
	padding-left: 40%;
	padding-right: 42%;
	padding-top: 30px;
	text-align: center;
}

.top2{
	text-align: center;
	padding-left: 3%;
	padding-right: 5%;
}

.top3{
	text-align: center;
	padding-left: 8%;
	padding-right: 12%;
	padding-bottom: 30px;
}