.background{
  padding: 0px;
	background-color: #F4CD9E;
  height: 200vh;
}

.blue-stripe{
	background-color: #CEF3F8;
	width: inherit;
	height: 380px;
  left: 0px;
  top: 18%;
  position: relative;
	z-index: 1;
	text-align: center;
	padding: 15px;

}

.search-result {
  margin-top: 350px;
  padding-top: 10px;
  /* left: 0px;
  top: 25%; */
  position: relative;
  z-index: 2; 
	text-align: center;
}

h3, h4 {
	font-family: "Jacques Francois";
}

.btn{
  color: aliceblue;
  font-size: 0.7rem;
  padding: 5px;
	background-color: rgb(37, 37, 37);
  margin-top: 1.5%;
	padding-top: .5%;
	padding-bottom: .5%;
	padding-left: 3%;
	padding-right: 3%;
}

.btn:hover {
	color: #ebaa5a;  
}

#tulip {
	width: 22px;
	margin:5px;
}

select {
	border: 0px;
	background-color: #F4CD9E;
  /*background-image: url('./../assets/img/search.png');
  background-size: 17px 17px;
  background-position: 10px 4px;
  background-repeat: no-repeat;
  */
  padding-left: 10px;
  padding-right: 10px;
}

.hidden {
  display:none;
}

.search-result img {
  padding-bottom: 5%;
}
